/* SongsSection.module.css */
.songsSection {
    padding: 20px;
    text-align: left; /* Align the title and content to the left */
    background-color: #121212;
    color: #FFFF;
  }
  
  .genreTabs {
    display: flex;
    justify-content: flex-start; /* Align tabs to the left side */
    margin-left: 20px; /* Optional: Add some space from the left edge */
    gap: 20px; /* Space between tabs */
    margin-bottom: 20px; /* Optional: Add some space below the tabs */
  }
  
  .genreTab {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize; /* Capitalize the genre name */
    color: #FFFF; /* Set the default text color */
    transition: color 0.3s ease; /* Smooth transition for text color change */
  }
  
  .genreTab:hover {
    color: #34c94B; /* Change text color on hover */
  }
  
  .selected {
    color: #34c94B;; /* Highlight the selected tab */
  }
  
  