.button {
    margin-left: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #121212;     
    color: #34c94b;
    border-radius: 5px;
    cursor: pointer;
  }