.navbar {
  display: flex;
  justify-content: space-between;
  /* Space out the items: logo, search box, and feedback button */
  align-items: center;
  /* Center items vertically */
  background-color: #34c94b;
  padding: 10px 20px;
  position: relative;
  /* To handle absolute positioning for logo */
}

.logo {
  position: absolute;
  /* Keep the logo positioned on the left */
  left: 10px;
  /* Space between the logo and the left side of the navbar*/
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  /* Ensure logo stays above the search box */
}

/* Search box styling */
.searchWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  /* Allow searchWrapper to grow and take space between logo and button */
  justify-content: center;
  /* Center the search box horizontally */
  gap: 20px;
  /* Adds space between logo and search box */

}

/* Search box itself */
.searchBox {
  width: 600px !important;
  /* Force width to 600px */
  min-width: 600px !important;
  /* Prevent shrinking */
  max-width: 100% !important;
  /* Allow it to grow if possible */
}