.search {
  padding: 14px 20px;
  height: 48px;                     /* Set a consistent height */
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--color-black);
  width: 100%;                      /* Ensure it uses 100% of the available width */
}

.wrapper {
  display: flex;
  align-items: center;
  height: 48px;
}

.searchButton {
  border-radius: 0px 8px 8px 0px;
  padding: 14px 20px;
  height: 100%;
  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
}

.listElement {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.albumTitle {
  font-size: 16px;
}

.albumArtists {
  font-size: 12px;
}
